{{ define "main" }}
<main>
    <section class="mb-12 sm:mb-16">
        <h1 class="text-3xl sm:text-5xl font-bold tracking-tight mb-4">
            {{ if .IsSection }}
                {{ .Title }}
            {{ else if eq .Kind "taxonomy" }}
                {{ .Data.Singular | i18n }}: {{ .Title }}
            {{ else }}
                {{ .Title }}
            {{ end }}
        </h1>
    </section>

    <section>
        <div class="space-y-8">
            {{ range .Paginator.Pages }}
                {{ .Render "card" }}
            {{ end }}
        </div>
    </section>
    
    {{ partial "pagination.html" . }}
</main>
{{ end }}
