{{ define "main" }}
  <section class="container">
    <section class="content">
      <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
      <div class="sub-header">
        {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
      </div>
      <article class="entry-content">
        {{ if .TableOfContents }}
        <aside class="toc">
          <h2>本文目錄</h2>
          {{ .TableOfContents }}
        </aside>
        {{ end }}
        {{ .Content }}
      </article>
      <div class="pagination">
        {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
        {{ end }}
        {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
        {{ end }}
      </div>

      <div class="post-taxonomies">
        {{- with .Params.categories }}
        <div class="post-categories">
          <strong>分類:</strong>
          {{ range . }}
            <a href="{{ "categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </div>
        {{- end }}

        {{- with .Params.tags }}
        <div class="post-tags">
          <strong>標籤:</strong>
          {{ range . }}
            <a href="{{ "tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
          {{ end }}
        </div>
        {{- end }}
      </div>

      {{ partial "related.html" . }}
    </section>
    <br>
    {{ if and (eq .Kind "page") (not .Draft) }}
      {{ partial "giscus.html" . }}
    {{ end }}
  </section>
{{ end }}
