<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{- $description := .Description | default (.Summary | plainify | truncate 150) | default .Site.Params.description -}}
<meta name="description" content="{{ $description }}">
{{- if .IsPage }}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ $description }}">
{{- else }}
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .Site.Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end }}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
{{- end }}
